body{
    margin:0;
}
/*NAV BAR CSS START*/

.nav-bar-main-class{
    display: flex;
    background-color: #352d2f;
}

.nav-bar-logo-img{
    width: 82px;
    margin-bottom: -0.3rem;
    justify-content: flex-start;
   
}

.nav-bar-links{
    display:  flex;
    justify-content: flex-end;
    margin-left: auto;
    
}

.nav-bar-links-register{
    /* background-color: red; */
}

.nav-bar-links-login{
    /* background-color: yellow; */
}

body{
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.alert-software.com%2Fhubfs%2F1%2520%25285%2529-1.jpg&imgrefurl=https%3A%2F%2Fwww.alert-software.com%2Fblog%2Fwhy-work-is-actually-personal&tbnid=d_CCaL_AtQv-UM&vet=12ahUKEwiThNGQg7L7AhVKlv0HHX2_A2cQMygFegUIARDLAQ..i&docid=j2njG670YzWgsM&w=852&h=480&q=people%20working%20in%20corporates&ved=2ahUKEwiThNGQg7L7AhVKlv0HHX2_A2cQMygFegUIARDLAQ");
}


.nav-bar-links-register-button, 
.nav-bar-links-login-button{
    align-items: center;
  background-clip: padding-box;

  background-color:#fa6400;
  border: 1px solid transparent;
  display: inline-flex;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  min-height: 4.25rem;
  text-decoration: none;
  transition: all 250ms; /*flashy transition*/
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  
}

.nav-bar-links-register-button:hover,
.nav-bar-links-login-button:hover{
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-1px);
}


/*NAV BAR CSS END*/
